body, html {
  height: 100%;
  margin: 0;
  color: #777;
  font-size: 16px;
}
hr {
  margin: 0;
}

.bgimg {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  header {
    text-align: center;
    img {
      padding: 10px;
      width: 250px;
    }
  }
  &-1 {
    background-image: url("../images/1a.png");
    min-height: 100%;
    .wrapper {
      width: 80%;
      margin: 60px auto 0;
      border-top: 6px solid #fff;
      border-right: 6px solid #fff;
      position: relative;
      color: #fff;
      h1 {
        margin: 0;
      }
      h2 {
        font-size: 2.2em;
        margin: 0;
        padding: 40px 20px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
      }
    }

    .border {
      // position: absolute;
      float: right;
      position: relative;
      border-top: 6px solid #fff;
      right: -6px;
    }
    #counter {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 4em;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 200%);
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }
  }
  &-2 {
    background-image: url("../images/Laberinto.jpg");
    min-height: 90%;
    .caption span {
      // background-color:transparent !important;
      font-size:25px !important;
      color: #f7f7f7 !important;
    }
  }
  &-3 {
    background-image: url("../images/Foto Quotes.jpg");
    min-height: 700px;
  }
  &-4 {
    background-image: url("../images/1a.png");
    min-height: 60%;
  }
  .caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #000;
    h1, span.border {
      background-color: #111;
      color: #fff;
      padding: 0 18px;
      font-size: 25px;
      letter-spacing: 5px;
      line-height: 62px;
    }
  }
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h4 {
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 45px;
}

.services {
  position:relative;
  .wrapper {
    color:#ddd;
    background-color:#000;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
  }
  &-text {

  }
  &-card {
    position: relative;
    margin: 15px 10px;
    &:hover {
      img {
        opacity: .3;
      }
      p {
        display: block;
        font-size: 1.5em;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 250px;
      transition: .8s;
    }
    p {
      transition: .7s;
      opacity: 0;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: 0;
      transform: translate(-50%, 150px);
      width: 75%;
      line-height: 35px;
    }
  }
}

.independence {
  background-color: #000;
  position: relative;
  color:#ddd;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  img {
    width: 100%;
  }
  
}

.software {
  color:#ddd;
  background-color:#000;
  text-align:center;
  padding:50px 80px;
  text-align-last: left;
  ul li p {
    margin: 0;
    padding: 15px 26px;
  }
}

.footer {
  /* label color */
  .input-field {
    color: #fdd835;
  }
  .input-field label {
    color: #fff;
  }
  // /* label focus color */
  // .input-field input[type=text]:focus + label {
  //   color: #fdd835;
  // }
  /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }

  /* label underline focus color */
  .input-field input {
    border-bottom: 1px solid #fdd835;
    box-shadow: 0 1px 0 0 #fdd835;
  }
}
